@import "tailwindcss";

@utility container {
  margin-inline: auto;
}

@theme {
  /* Text Color */
  --color-primary: #fbfbfb;
  --color-brand: #64ccc5;
  --color-secondary: #0c0c0c;

  /* Font Family */
  --font-dm-sans: "DM Sans", sans-serif;
  --font-roboto-serif: "Roboto Serif", serif;
}

@keyframes slow-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* html {
  font-size: 62.5%;
} */

/* body {
  overflow-x: hidden !important;
} */
